
        <div class="row-fluid">
            <div class="span12" style="margin: 0px 0px 0px 20px">
                <ul class="nav nav-tabs" style="margin-bottom:0px; margin-right: 30px">
                    <li class="active">
                        <%= link_to "Home", root_path %>
                    </li>
                    <li><%= link_to "News", :controller => "news", :action => "index" %></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">What We Do&nbsp;<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Specialist services </a></li>
                            <li><a href="#">Family Support</a></li>
                            <li><a href="#">Heaalth Professionals</a></li>
                            <li><a href="#">Research</a></li>
                            <li><a href="#">Education</a></li>
                        </ul>
                    </li>
                    <li><%= link_to "About Us", about_us_path %></li>
                    <li><%= link_to "Contact Us", contact_us_path %></li>
                </ul>
            </div>
        </div>